/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*header ul {
    margin-left: 60vw;
    margin-right: 10vw;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  white-space: nowrap;
  line-height: 100px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
.footer-container > div {
  flex: 2;
  margin-right: 10px; /* Add margin between the div elements */
}

/*header styling CSS*/

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    margin-left: 50px;/* desired margin value */
}

.navbar-brand span {
  color: #3252DF; /* Color for "Stay" */
}

.navbar-brand span:last-child {
  color: #152C5B; /* Color for "cation" */
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-right: 100px;
    padding: 0;
}

.nav-item {
    margin-left: 10px;
    margin-right: 5px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
}

nav-item nav{
    color: red;
}
 .navbar-nav dropdown-menu {
    /* Add your dropdown menu styles here */
    margin-top: 10px;
    margin-bottom: 10px;
}


/*Footer styling CSS*/
.footer .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer .container2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #B0B0B0;
    line-height: 40px;
    margin-top: 50px;
}
.footer .container2 a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #3252DF;
    text-decoration: none;
}
.footer .container2 a span{
    color: #152C5B;
}

.container .container3{
    margin-top: 50px;
}

.container .container3 h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 39px;
    color: #152C5B;
}
.container .container3 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B0B0B0;
}
.footer .copyright p{
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #B0B0B0;
    margin-bottom: 4px;
}
/* Mobile styles */
@media only screen and (max-width: 768px) {
.footer .container {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
 }

.footer .container2 {
    text-align: center;
}

.container .container3 {
    text-align: center;
}

.container .container3 h6 {
    font-size: 20px;
    line-height: 30px;
}
.footer .copyright p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 2px;
  }
}